body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}

.header {
    background-color: #fff;
    padding: 28px 101px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section__left {
    display: flex;
    align-items: center;
    row-gap: 88px;
}

.section__left img {
    height: 32px;
    width: 144px;
    margin-right: 88px;
}

.h__navbar {
    list-style: none;
    margin-left: 30px;
}

.nav__items {
    display: inline-block;
    margin-right: 25px;
    padding: 5px 0px;
    font-weight: 500;
    color: #000000;
    cursor: pointer;
}

.section__right a {
    width: 123px;
    height: 52px;
    padding: 16px 24px;
    background-color: #3461ff;
    color: #fff;
    text-decoration: none;
    border-radius: 70px;
    font-weight: 500;
    line-height: 20px;
}
